:root {
    --red: #b60d26;
}
#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid;
    color: var(--red);
}
header, body {
    background-color: #faebda;
    font-family: monospace;
}
body h1 {
    font-size: 36px;
}
body p {
    font-size: 16px;
}
#startTime {
    background-color: var(--red);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}
#questionsDiv {
    margin: 20px;
}
#currentTime {
    float: right;
}
